{% extends "plantillaBase.php.twig" %}

{% block titulo %}
<h1 class="mt-4">Editar Genero</h1>
{% endblock %}

{% block contenido %}

		<form action="/misseries/index.php" method="get">
			<input type="hidden" name="con" value="genero" />
			<input type="hidden" name="ope" value="editar" />

			<label for="id">ID: </label>
			<input type="text" id="id" name="id" value="{{ dat.Correo }}" readonly />
			<br/>			
			<label for="nom">Genero: </label>
			<input type="text" id="gen" name="gen" value="{{ dat.NomUsu }}" />
			<br/>
			<button type="submit">Guardar</button>
		</form>

{% endblock %}