{% extends "plantillaBase.php.twig" %}

{% block cabecera %}{% endblock %}

{% block contenido %}

	<div class="container">
		<br>
		<div class="row">
			<div class="col-sd-12 mx-auto">
				<img src="imagenes/logo.png"/>
			</div>
		</div><br>

		<form action="/recetas/index.php" method="get">

			<h2 class="form-signin-heading text-center">Registro</h2>
			<input type="hidden" name="con" value="login"/>
			<input type="hidden" name="ope" value="anadir"/>

			<div class="row form-group">
                <div class="col-md-4 mx-auto">
                    <label class="col-form-label" for="Correo">Correo electronico:</label>
                    <input class="form-control" type="email" name="Correo" id="Correo" placeholder="ejemplo@gmail.com" required />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 mx-auto">
                    <label class="col-form-label" for="NomUsu">Nombre:</label>
                    <input class="form-control" type="text" name="NomUsu" id="NomUsu"  required />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 mx-auto">
                    <label class="col-form-label" for="ApeUsu">Apellidos:</label>
                    <input class="form-control" type="text" name="ApeUsu" id="ApeUsu" required />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 mx-auto">
                    <label class="col-form-label" for="password">Contrase침a:</label>
                    <input class="form-control" type="password" name="password" id="password" required />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 mx-auto">
                    <label class="col-form-label" for="conf">Confirmaci칩n contrase침a:</label>
                    <input class="form-control" type="password" name="conf" required />
                </div>
            </div>

            <!-- registro -->
            <div class="row form-group">
                <div class="col-md-4 mx-auto">
                    <button class="btn btn-outline-success w-100" type="submit">Registrar</button>
                </div>
            </div>
		</form>

		<div class="row">
			<div class="col-md-12 text-center">
				<a href="index.php?ope=listar&con=login" style="color:#27AE60">Volver Atr치s</a>
			</div>
		</div>

	</div>
{% endblock %}
